eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
spring:
  application:
    name: user-module
  kafka:
    bootstrap-servers: localhost:9092

server:
  port: 8080
